
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
html{
	scroll-behavior: smooth;
}
*{margin:0;padding:0;font-family: 'Mulish', sans-serif;box-sizing: border-box;
}
div  ul {text-decoration: none; list-style-type: none;}
.font{font-family: 'Bitter', serif; font-weight: bolder;font-size:15px;
 background-color: #9eabe4;
background-image: linear-gradient(315deg, #9eabe4 0%, #77eed8 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
.txt{font-family: Roboto;}
.p{ font-family: 'Lato', sans-serif;
 font-weight: 300;font-size: 20px; color:gray; font-weight: bolder;}
.con-text{margin-top:100px;}
.hero{font-size:50px;font-weight:500px;
 font-family: 'Prata', serif; transition: ease 2s all;}
.btn{
	background-color: #9eabe4 !important;
background-image: linear-gradient(315deg, #9eabe4 0%, #77eed8 74%) !important;
box-shadow: 0px 0px 2px  black;
border-radius: 50px  !important;border: none;
}

 .bgclr {background-color: #9eabe4;
background-image: linear-gradient(315deg, #9eabe4 0%, #77eed8 74%);
box-shadow: 0px 0px 2px  black;
border-radius: 50px;
font-weight: 600!important;
border: 1px solid #77eed8;
}
.btn:hover{background: transparent !important;color:#77eed8 !important;box-shadow: 0px 0px 5px  #77eed8;}
.bg{background-color: #9eabe4;
background-image: linear-gradient(315deg, #9eabe4 0%, #77eed8 74%);
border-radius:70px 60px 900px 10px ; box-shadow: 0px 0px 5px  black; 
}
.imgg{transition: ease 4s all;}
.navbar-brand{font-size:25px;}
.wave{ 
		  /*border-bottom-left-radius: 50% 20%;*/
  /*border-bottom-right-radius: 50% 20%;*/
		box-shadow: 2px 2px 2px 2px black;}
		#wave{background-image:url("../img/bb.png");
		background-repeat: no-repeat;background-size: cover;height: 100vh;}

.box{height: 550px ;margin-top: 20px;}
p{font-family: roboto;}
.jumbotron{background-color:  #e6e6e6;}
.card{width:220px;  transition: ease .02s all;border: 4px solid  #d3d3d3;}
.card:hover{border-bottom: 5px solid darkorange; box-shadow: 0px 0px 2px 2px #2f2f20; }

h1, h2,h3,h4,h5 {font-weight: bolder;}
.services{background-color:#f0f5f5;}
.cta{color:white!important;}
.fa{font-size:20px;}
/*.portfolio .row .col-md-4 img{height:300px;width:300px;}*/
.call {background-image:url("../img/cta-bg.jpg");width:100%;background-position: center;background-attachment: fixed; }
.card-title p{font-size: 15px; color:gray;}
.contact p{font-size: 15px; color:gray;line-height:1;padding-left:30px;}
.contact-row{background-color: #e6e6e6;}

.contact{ width:300px;padding:20px;margin-right:40px;box-shadow: 0px 0px 5px  black; border-radius: 10px;}
.form{box-shadow: 0px 0px 5px  black; border-radius: 10px;}
#About{margin-top:120px;}
.footer-links   a {text-decoration: none;list-style-type: none;}
#Portfolio img:hover{transition: 2s; transform: scale(1.1,1.1);box-shadow: 0px 0px 5px black;}
#Portfolio{transition: ease 2s all;overflow: hidden;}
.mapouter{position:relative;text-align:right;height:300px;width:100%;}
.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:100%;}
.port{
	overflow: hidden;

	
}.port img{
	box-shadow: 2px 2px 5px black;
	border: 4px solid  #d3d3d3;
	border-radius: 5px;
	
}
.card-body .hover:hover{
	background-color: #77eed8 ;

}
.container-fluid{
	   padding-right: 0px !important; 
     padding-left: 0px !important;
}
.services .row{
	margin-right: 0px !important; 
     margin-left: 0px !important;
}


@media only screen and (max-width: 600px) {
/* your CSS here */
#Portfolio img:hover{transition: 2s;transform:scale(1.0,1.0);box-shadow: 0px 0px 5px black;}
.port{
	overflow: hidden!important;
	
}
#About {
    margin-top: 400px;
}
.contact {
    width: 100%;
    padding: 20px;
    margin-right: 40px;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
}
}
